/**
 * @file _colors.scss
 * @author Michael Zalla
 * @date 12-01-2014
 *
 * Contains information about color variables used in partial files.
 */

$color-type-default:rgb(67,74,84);
$color-anchor-default:rgb(0,136,204);

$color-gray-1:rgb(255, 255, 255);
$color-gray-2:rgb(245, 247, 250);
$color-gray-3:rgb(230, 233, 237);
$color-gray-4:rgb(230, 231, 232);

$color-spot-1:rgb(150,50,50);
$color-spot-2:rgb(215,80,80);