/**
 * @file _config.scss
 * @author Michael Zalla
 * @date 12-01-2014
 *
 * Contains variables for controlling basic attributes of the site's
 * appearance and layout. These values may be overwritten in subsequent
 * Sass modules. Be sure to import this module before any partials.
 */

/* Mobile layout configuration */

$ss-mobile-header-height: 72px;
$ss-mobile-header-side-padding: 18px;

$ss-mobile-content-max-width: 100%;
$ss-mobile-content-side-padding: 18px;

$ss-mobile-section-top-margin: 32px;
$ss-mobile-section-bottom-margin: 18px;

/* Desktop layout configuration */

$ss-desktop-header-height: 64px;
$ss-desktop-header-side-padding: 18px;

$ss-desktop-content-max-width: 1200px;
$ss-desktop-content-side-padding: 50px;

$ss-desktop-section-top-margin: 45px;
$ss-desktop-section-bottom-margin: 32px;