/**
 * @file _header.scss
 * @author Michael Zalla
 * @date 12-01-2014
 *
 * Contains styles for the site header and navigation.
 */

/* Header styles */

header {
	
	display: table;
	width: 100%;
	background-color: $color-spot-1;
	
	@include vendorize("transition", background-color 0.125s ease-in);

	.container,
	.content { height: inherit; }

	.container {
		display: table-cell; 
		vertical-align: middle;
	}

	.content {
		overflow: hidden;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	/* Branding */

	.left {
		width: 224px;
		height: 100%;
		overflow: hidden;
	}

	#logo {
		
		margin: 0 !important;
		@include background("/images/logo-white.svg", auto 75%, left center);

		.label {
			color: white;
			vertical-align: middle;
			&:first-of-type { padding-left: 8px; }
		}

	}

	/* Responsive menu navigation */

	.ss-header-navigation {
		background-color: $color-spot-1;
		@include vendorize("transition", left 0.18s ease-in-out);
		a, span { margin-top: 0; }
	}

	/* Header interaction indicator */

	.indicator { display: none; }

}

/* Fixed-position header */

header.fixed {
	position: fixed;
	top: 0;
	float: left;
	width: 100%;
	z-index: 999;
}

/* Mobile styles */

@media #{ $small-only } {

header {

	height: $ss-mobile-header-height;

	#logo { @include same(width, height, $ss-mobile-header-height - (8px * 2)); }
	#logo .label { display: none; }

	/* Hamburger menu container */

	.right {
		margin-top: 18px;
		cursor: pointer;
	}

	.ss-header-navigation {

		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		z-index: -1;

		.content {
			margin: 0px auto !important;
			width: 100vw !important;
			height: auto !important;
		}

		li {
			display: block;
			padding-top: 28px;
			padding-bottom: 28px;
			// Account for fixed page header
			&:first-child { margin-top: $ss-mobile-header-height / 2; }
			&:not(:last-child) { border-bottom: 1px solid white; }
		}

		a { color: white; }

		.label {
			padding-left: 16px;
			font-size: 1.35rem;
		}

	}

	/* Hamburger menu */

	.ss-header-navigation-toggle { @include hamburger(30px, 3px, rgba(white, 0.65)); }
	
	.ss-header-navigation-toggle,
	.ss-header-navigation-toggle:before,
	.ss-header-navigation-toggle:after {
		@include vendorize("transition", background-color 0.18s ease-in-out);
	}
	
	.ss-header-navigation:not(.expanded) {
		left: -100vw;
		& ~ .ss-header-navigation-toggle,
		& ~ .ss-header-navigation-toggle:before,
		& ~ .ss-header-navigation-toggle:after { background-color: white; }
	}

}

}

/* Tablet styles */

@media #{ $medium-only } {

header {

	#logo .label { display: none; }

}

}

/* Desktop styles */

@media #{ $medium-up } {

header {

	$content-height: $ss-desktop-header-height - (8px * 2);

	height: $ss-desktop-header-height;

	#logo { @include same(padding-left, height, $content-height); }
	#logo .label { margin-top: 15px; }

	.ss-header-navigation-toggle { display: none; }
	.ss-header-navigation { margin-top: 6px; }
	.ss-header-navigation .content {

		margin: 0;
		padding: 0;

		li {
			
			display: inline-block;
			padding: 3px 20px 5px;
			border: 2px solid $color-spot-1;
			border-radius: 18px;
			cursor: pointer;

			@include vendorize("transition", 0.18s border-color ease-in-out);
			@include mouseover(border-color, $color-spot-2);

			a {
				color: rgba(white, 0.84);
				@include vendorize("transition", 0.35s color ease-in-out);
			}

		}

		li:not(:first-child) { margin-left: 20px; }
		li:hover a { color: white; }
	
	}

	$indicator-height: 2px;

	.indicator {
		position: absolute;
		bottom: $indicator-height;
		left: 50%;
		display: block;
		overflow: visible;
		@include same(width, height, 0px);
	}

	.indicator:before,
	.indicator:after {
		content: "";
		position: absolute;
		display: block;
		width: 0vw;
		height: $indicator-height;
		background-color: $color-spot-2;
		@include vendorize("transition", width 0.35s ease-in);
	}

	.indicator:before { left: 0; }
	.indicator:after { right: 0; }
	
}

header:hover .indicator:before,
header:hover .indicator:after { width: 50vw; }

}